




<p-dataTable [value]="cliente" [lazy]="true" [rows]="10" [paginator]="true" 
[rowsPerPageOptions]="[5,10,20]" (onLazyLoad)="loadClienteLazy($event)" >


  <p-column field="nome" header="nome"></p-column>
  <p-column field="Data_Cadastro" header="Data do Cadastro"></p-column>
  <p-column field="TELEFONE" header="Telefone"></p-column>
  <p-column field="TELEFONE2" header="TELEFONE2"></p-column>
  <p-column field="FAX" header="fax"></p-column>
  <p-column field="CELULAR" header="Celular"></p-column>
  <p-column field="Contato" header="Contato"></p-column>
  <p-column header="Delete">
    <ng-template let-col let-cliente="cliente" 
    pTemplate type="body">
        <button type="button" pButton icon="fa-close" 
         (click)="showDialogToDelete(cliente)" 
         label="Delete"></button>
    </ng-template>
</p-column>

<p-dialog header="Confirm Deletion" [(visible)]="displayDeleteDialog" 
                                     modal="modal" showEffect="fade">
                    <p>
                       Deseja Realmente Excluir esse contato?
                    </p>
                    <p>
                        <strong>{{ fullname }}</strong><br />
                    </p>
                    <footer>
                        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                            <button type="button" pButton icon="fa-close" 

                                     (click)="okDelete(false)" label="No"></button>
                            <button type="button" pButton icon="fa-check" 

                                     (click)="okDelete(true)" label="Yes"></button>
                        </div>
                    </footer>
                </p-dialog>
</p-dataTable>

