<div class="container">


  <form [formGroup]="meuForm">


  
    <div>{{title}}</div>








      <div class="row">
        
        <div class="col-4">
          <div class="form-group">
          <label>Nome</label> <input type="text"  name="title" [(ngModel)]="cliente.nome" formControlName="NOME" class="form-control" autocomplete="off"></div>
        </div>
      </div>

    




      <div class="row">
        <div class="col-md-4">
            <div class="form-group">

          <input type="text" name="dataCadastro"  [(ngModel)]="cliente.Data_Cadastro"  formControlName="DATA_CADASTRO" class="form-control" autocomplete="off">
        </div>

                      </div>
                    </div>
                


          <div class="form-group">
            <label>Sexo:</label>
            <label class="checkbox-inline">
      <input type="radio" [(ngModel)]="cliente.SEXO" formControlName="SEXO" name="SEXO" value="m" text="Masculino">Masculino
      </label>
      </div>

      
      <div class="form-group">

            <label class="checkbox-inline">
      
      <input type="radio" [(ngModel)]="cliente.SEXO" name="SEXO" formControlName="SEXO"  value="f"  text="Feminino">Feminino
      </label>
          </div>


    



        <div class="row">
          <div class="col-md-4"> <label>menor
      <input type="checkbox" [value]="cliente.menor" class="form-control" autocomplete="off" (change)="CheckMenor($event)">
      </label></div>

        </div>





      <div class="row">

        <div class="col-md-3"><label>Responsável</label>
          <input name="text"   [(ngModel)]="cliente.Responsavel" formControlName="RESPONSAVEL" name="RESPONSAVEL" class="form-control" autocomplete="off"></div>

        <div class="col-md-3"> <label>CPF:</label>
          <input name="text" [(ngModel)]="cliente.CPF"  class="form-control" formControlName="CPF" name="CPF" autocomplete="off"></div>

        <div class="col-md-3"> <label>RG:</label>
          <input name="text" [(ngModel)]="cliente.RG"  class="form-control" formControlName="RG" name="RG"  autocomplete="off"></div>
      </div>





      <div class="row">
        <div class="col-md-6">
          <label>Estado Civil</label>
          <div class="form-group">
            <label class="radio-inline">
      <input type="radio" name="ecivil" [(ngModel)]="cliente.ESTADO_CIVIL"  formControlName="ESTADO_CIVIL" text="Solteira(o)" value="S">Solteiro(a)

  </label>
            <label class="radio-inline">
      <input type="radio" name="ecivil" [(ngModel)]="cliente.ESTADO_CIVIL" formControlName="ESTADO_CIVIL" name="ESTADO_CIVIL" text="Casado(a)" value="C">Casado(a)
 
        </label>
            <label class="radio-inline">
      <input type="radio" name="ecivil" [(ngModel)]="cliente.ESTADO_CIVIL" formControlName="ESTADO_CIVIL" name="ESTADO_CIVIL" ext="Divorciado(a)" value="D">Divorciado(a)

        </label>
            <label class="radio-inline">
      <input type="radio" name="ecivil" [(ngModel)]="cliente.ESTADO_CIVIL" formControlName="ESTADO_CIVIL" name="ESTADO_CIVIL" text="viúva(o)" value="V">viúva(o)

        </label>
          </div>

        </div>
      </div>




      <div class="row">
        <div class="col-md-4"> <label>Naturalidade</label>
          <input name="text" [(ngModel)]="cliente.NATURALIDADE" formControlName="NATURALIDADE" name="NATURALIDADE" class="form-control"  autocomplete="off"></div>

        <div class="col-md-4"> <label>Profissão</label>
          <input name="text" [(ngModel)]="cliente.PROFISSAO"  formControlName="PROFISSAO" name="PROFISSAO" class="form-control" autocomplete="off">
        </div>
      </div>



      <div class="row">

        <div class="col-md-3"><label>Mãe</label>
          <input name="text" [(ngModel)]="cliente.NOME_MAE"  formControlName="NOME_MAE" name="NOME_MAE" class="form-control" autocomplete="off"></div>
      </div>

     


      <div class="row">

        <div class="col-md-3"> <label>Telefone</label>
          <input name="text" [(ngModel)]="cliente.Telefone" formControlName="TELEFONE" name="TELEFONE" class="form-control"  autocomplete="off"></div>
       

        <div class="col-md-3"><label>Celular</label>
          <input name="text" [(ngModel)]="cliente.Celular" formControlName="CELULAR" name="CELULAR"  class="form-control"  autocomplete="off">
        </div>
        <div class="col-md-3"><label>Email</label>
          <input name="text" [(ngModel)]="cliente.Email" class="form-control" formControlName="EMAIL" name="EMAIL" autocomplete="off">
        </div>


      </div>

   



<label>Classificação:</label>
      <div class="row">

        

        <label class="checkbox-inline">
        <input type="radio" [(ngModel)]="cliente.CLASSIFICAO" formControlName="CLASSIFICACAO" value="n" name="CLASSIFICACAO">Normal</label>
        <label class="checkbox-inline">
   
        <input type="radio" [(ngModel)]="cliente.CLASSIFICAO" formControlName="CLASSIFICACAO" value="e" name="CLASSIFICACAO" text="Normal"> Especial</label>




      </div>

      <div class="form-group">
        <div class="col-md-3">
          <label>Indicacao</label>
          <select  [(ngModel)]="cliente.ID_INDICACAO" formControlName="ID_INDICACAO" required>  
                                <option value="0">--Select--</option>  
                                <option *ngFor="let ind of listaIndicacao"   
                                      value="{{ind.ID_INDICACAO}}">  
                                    {{ind.DESCRICAO}}  
                                </option>  
         </select>
        </div>
      </div>



        <div class="col-md-3">
          <label>Observação</label>

          <textarea [(ngModel)]="cliente.OBS" value="obs" formControlName="OBSERVACAO" name="OBSERVACAO" class="form-control" autocomplete="off">

            </textarea>
        </div>











      


      <button name="Excluir" value="Indicacao" class="btn btn-primary" type="submit"  (click)="Salvar($event)">
              Cadastrar</button>

 

  </form>
</div>
